<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class='brand' href='/'><%= @application_name %></a>
      <ul class="nav">
      </ul>
    </div>
  </div>
</div>