App.<%= @controller_name.camelize %>.Index.Detail = class Detail extends Spine.Controller

  constructor: ->
    super

  render: ->
    @html JST["app/views/<%= @view_name %>/index/detail"](@item)
    @
