App.<%= @controller_name.camelize %>.Index.Item = class Item extends Spine.Controller

  constructor: ->
    <%= @model_name.camelize %>.bind "refresh", @addAll
    super

  render: ->
    @html JST["app/views/<%= @view_name %>/index/item"](@item)
    @
