App.<%= @controller_name.camelize %> = {}

App.<%= @controller_name.camelize %>.Section = class <%= @controller_name.camelize %> extends Spine.Stack
  tag: "section"
  navTitle: "<%= @controller_name.camelize %>"

  constructor: ->
    @controllers =
      index: App.<%= @controller_name.camelize %>.Index.Main
    super

  routes:
    "/<%= @controller_name %>/:id": "index"
    "/<%= @controller_name %>"    : "index"

  render: ->
    @index.render()
    @